body {
    background-color: #ffffff;
}

.conTainer {
    padding: 20px;
}

.ultIngr {
    background-color: #680005;
    text-align: center;
    font-size: 65%;
    font-weight: bold;
}

.susCrip {
    background-color: #4a0004;
    text-align: center;
}

.taSac {
    background-color: #680005;
    text-align: center;
    font-size: 65%;
    font-weight: bold;
}

.cloSe {
    background-color: #ff0000;
    border-radius: 1%;
}

.plaTaf {
    background-color: rgb(130, 238, 153);
    border-radius: 1%;
}