body {
    background-color: $bgcolor1;
}

.conTainer {
    padding: 20px;
}

@mixin ingresos ($bgcolor) {
    background-color: $bgcolor;
    text-align: center;
    font-size: 65%;
    font-weight: bold;

}

.ultIngr {
    @include ingresos ($bgcolor2)
}

.susCrip {
    background-color: $bgcolor3;
    text-align: center;
}

.taSac {
    @extend .ultIngr;
    font-style: italic;
}

.cloSe {
    background-color: $bgcolor4;
    border-radius: 1%;
}

.plaTaf {
    background-color: $bgcolor5;
    border-radius: 1%;
}