body {
    background-color: $bgcolor1;
}

.conTainer {
    padding: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 30px;
    width: 30px;
    background-color: $bgcolor7;
    background-size: 30%, 30%;
    border: 1px solid $bgcolor7;
}

/*mixin*/
@mixin ingresos ($bgcolor) {
    background-color: $bgcolor;
    text-align: center;
    font-size: 65%;
    font-weight: bold;

}

.ultIngr {
    @include ingresos ($bgcolor2)
}

.susCrip {
    background-color: $bgcolor3;
    text-align: center;
    padding-bottom: 0.5%
}

.taSac {
    @extend .ultIngr;
    font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");

#error404 {
    body {
        background: linear-gradient(to right, $bgcolor1 50%, $bgcolor1 50%);
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        color: $bgcolor1;
    }

    div {
        display: flex;
        align-items: center;
        height: 100vh;
        max-width: 1000px;
        width: calc(100% - #{4rem});
        margin: 0 auto;

        >* {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            max-width: 500px;
            width: 100%;
            padding: 2.5rem;
        }
    }

    aside {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 25px 100%;

        img {
            display: block;
            height: auto;
            width: 70%;
        }
    }

    main {
        text-align: center;

        h1 {
            font-family: "Fontdiner Swanky", cursive;
            font-size: 2.5rem;
            color: $bgcolor2;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 2.5rem;

            em {
                font-style: italic;
                font-size: 1rem;
                color: $bgcolor3;
            }
        }

        button {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 1rem;
            color: $bgcolor1;
            border: none;
            background-color: $bgcolor2;
            padding: 1rem 2.5rem;
            transition: all 0.1s ease;

            &:hover {
                background-color: $bgcolor4;
                transform: scale(1.15);
            }
        }
    }

    @media (max-width: 700px) {
        body {
            background: $bgcolor1;
            font-size: 16px;
        }

        div {
            flex-flow: column;

            >* {
                max-width: 700px;
                height: 100%;
            }
        }

        aside {
            background-image: none;
            background-color: $bgcolor1;

            img {
                max-width: 300px;
            }
        }
    }
}