.conTainers {
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgcolor2;
}

.aniMat {
    --animate-duration: 5s;
}

.phoneColor:hover {
    background-color: $bgcolor8;
    border-radius: 6.5px;
    transform: scale(1.07);
    transition: .7s;
}

.mailColor {
    font-size: 97%;
}

.mailColor:hover {
    background-color: $bgcolor8;
    border-radius: 6.5px;
    transform: scale(1.07);
    transition: .7s;
}

.webUnd {
    background-color: $bgcolor7;
    color: $bgcolor1;
    text-align: center;
    font-size: 70%;
    font-weight: bold;
    text-shadow: 1px 1px $bgcolor6;
    width: auto;
    padding: 0.5rem;
}

.webUnd:hover span {
    text-shadow: 0 0 1px $bgcolor1,
        0 0 0px,
        0 0 0px;
}

.dataFisc {
    background-color: $bgcolor3;
    align-items: center;
    padding: 0.5rem;
}