.conTainers {
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgcolor2;
}

.aniMat {
    --animate-duration: 5s;
}

.webUnd {
    background-color: $bgcolor7;
    color: $bgcolor1;
    text-align: center;
    font-size: 75%;
    font-weight: bold;
    text-shadow: 1px 1px $bgcolor6;
    width: auto;
    padding: 0.5rem;
}

.webUnd:hover span {
    text-shadow: 0 0 10px $bgcolor1,
        0 0 20px,
        0 0 40px;
}

.dataFisc {
    background-color: $bgcolor3;
    align-items: center;
    padding: 0.5rem;
}