//colores personalizados//

$bgcolor1: #ffffff;
$bgcolor2: #680005;
$bgcolor3: #4a0004;
$bgcolor4: #ff0000;
$bgcolor5: rgb(130, 238, 153);
$bgcolor6: #000000;

//@import//

@import "_body";
@import "_header";
@import "_footer";