//map-colors//
$bgcolor1: #ffffff;
$bgcolor2: #680005;
$bgcolor3: #4a0004;
$bgcolor4: #ff0000;
$bgcolor5: rgba(0, 0, 0, 0.3);
$bgcolor6: #000000;
$bgcolor7: #333;
$bgcolor8: rgba(0, 0, 0, 0.15);

//@import//
@import "_body";
@import "_header";
@import "_footer";