@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");
body {
  background-color: #ffffff; }

.conTainer {
  padding: 20px; }

/*mixin*/
.ultIngr, .taSac {
  background-color: #680005;
  text-align: center;
  font-size: 65%;
  font-weight: bold; }

.susCrip {
  background-color: #4a0004;
  text-align: center;
  padding-bottom: 0.5%; }

.taSac {
  font-style: italic; }

.cloSe {
  background-color: #ff0000;
  border-radius: 1%; }

.plaTaf {
  background-color: #82ee99;
  border-radius: 1%; }

#error404 body {
  background: linear-gradient(to right, #ffffff 50%, #ffffff 50%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff; }

#error404 div {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto; }
  #error404 div > * {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    padding: 2.5rem; }

#error404 aside {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%; }
  #error404 aside img {
    display: block;
    height: auto;
    width: 70%; }

#error404 main {
  text-align: center; }
  #error404 main h1 {
    font-family: "Fontdiner Swanky", cursive;
    font-size: 2.5rem;
    color: #680005;
    margin-bottom: 1rem; }
  #error404 main p {
    margin-bottom: 2.5rem; }
    #error404 main p em {
      font-style: italic;
      font-size: 1rem;
      color: #4a0004; }
  #error404 main button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    background-color: #680005;
    padding: 1rem 2.5rem;
    transition: all 0.1s ease; }
    #error404 main button:hover {
      background-color: #ff0000;
      transform: scale(1.15); }

@media (max-width: 700px) {
  #error404 body {
    background: #ffffff;
    font-size: 16px; }
  #error404 div {
    flex-flow: column; }
    #error404 div > * {
      max-width: 700px;
      height: 100%; }
  #error404 aside {
    background-image: none;
    background-color: #ffffff; }
    #error404 aside img {
      max-width: 300px; } }

.sticky-top-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030; }

.carOusel {
  background-color: #680005; }

.caroUss {
  font-size: 120%;
  font-weight: bold;
  text-shadow: 2px 1px #000000; }

/*media queries*/
@media (max-width: 800px) and (min-width: 0px) {
  .carOusel {
    font-size: 10px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px; } }

.conTainers {
  padding: 50px;
  background-color: #680005; }

.aniMat {
  --animate-duration: 5s; }

.webUnd {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  width: auto;
  padding: 0.5rem; }

.webUnd:hover span {
  text-shadow: 0 0 10px #ffffff, 0 0 20px, 0 0 40px; }

.dataFisc {
  background-color: #4a0004;
  align-items: center;
  padding: 0.5rem; }
