body {
  background-color: #ffffff; }

.conTainer {
  padding: 20px; }

.ultIngr, .taSac {
  background-color: #680005;
  text-align: center;
  font-size: 65%;
  font-weight: bold; }

.susCrip {
  background-color: #4a0004;
  text-align: center;
  padding-bottom: 0.5%; }

.taSac {
  font-style: italic; }

.cloSe {
  background-color: #ff0000;
  border-radius: 1%; }

.plaTaf {
  background-color: #82ee99;
  border-radius: 1%; }

.sticky-top-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030; }

.carOusel {
  background-color: #680005; }

.caroUss {
  font-size: 120%;
  font-weight: bold;
  text-shadow: 2px 1px #000000; }

@media (max-width: 800px) and (min-width: 0px) {
  .carOusel {
    font-size: 10px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px; } }

.conTainers {
  padding: 50px;
  background-color: #680005; }

.aniMat {
  --animate-duration: 5s; }

.webUnd {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  font-size: 85%;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  width: auto;
  padding: 0.5rem; }

.webUnd:hover span {
  text-shadow: 0 0 10px #ffffff, 0 0 20px, 0 0 40px; }

.dataFisc {
  background-color: #4a0004;
  align-items: center;
  padding: 0.5rem; }

.dataFisc:hover img {
  box-shadow: 0 0 10px #ffffff, 0 0 20px, 0 0 40px; }
